.banner-customizable {
    background-color: #B5D9EB;
    background-image: url(https://mysaasproduct.com/appicon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 5rem 0;
}

.background-customizable {
    background-color: #FAFAFA;
    box-shadow: 1px 1px 4px;
}